@import b3.vertical.fieldConstructor

@(currentUser: User, microPost: MicroPost, favorites: List[Favorite])(implicit messages: Messages, flash: Flash, request: RequestHeader)

@if(currentUser.id.get != microPost.user.get.id.get) {
    @if(!favorites.exists(_.microPostId == microPost.id.get)) {
        @b3.formCSRF(routes.FavoriteController.add(microPost.id.get)) {
            @b3.submit('class -> "btn btn-primary btn-xs") {
                @Messages("Add Fav")
            }
        }
    } else {
        @b3.formCSRF(routes.FavoriteController.remove(microPost.id.get)) {
            @b3.submit('class -> "btn btn-primary btn-xs") {
                @Messages("Remove Fav")
            }
        }
    }
}
